# ============================================
# Server Configuration
# ============================================
PORT=4000
NODE_ENV=development

# ============================================
# MongoDB
# ============================================
MONGO_URL=mongodb+srv://dharmendra:Dhar9128@cluster0.z1usfpj.mongodb.net/?appName=Cluster0

# For MongoDB Atlas (use instead of local)
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxx.mongodb.net/HOSPITAL_MANAGEMENT_SYSTEM

# ============================================
# JWT Authentication
# ============================================
JWT_SECRET_KEY=your_super_secret_jwt_key
JWT_EXPIRES=7d

# ============================================
# Cookie
# ============================================
COOKIE_EXPIRE=7

# ============================================
# Cloudinary
# ============================================
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret


FRONTEND_URL=http://localhost:5173
DASHBOARD_URL=http://localhost:5174